<ion-header>
  <ion-toolbar>
    <ion-title>Restablecer Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ng-container *ngIf="tokenValido; else errorTemplate">
    <form (ngSubmit)="cambiarPassword()">
      <ion-item>
        <ion-label position="floating">Nueva contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="password" name="password" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Confirmar contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="confirmpassword" name="confirmpassword" required></ion-input>
      </ion-item>

      <ion-button expand="block" type="submit" class="ion-margin-top">
        Cambiar contraseña
      </ion-button>
    </form>
  </ng-container>

  <ng-template #errorTemplate>
    <ion-text color="danger">
      <p class="ion-text-center">El enlace no es válido o ha expirado.</p>
    </ion-text>
  </ng-template>
</ion-content>
