<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Verificación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding verify-content" fullscreen>

  <ion-card>
    <ion-card-content class="content-center">
      <ion-text color="primary" class="mensaje-text">
        <h2>{{ mensaje }}</h2>
      </ion-text>
      <ion-spinner *ngIf="mensaje === 'Verificando...'" name="crescent" color="primary" class="spinner"></ion-spinner>
    </ion-card-content>
  </ion-card>

</ion-content>
