<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="crear-paquete">
      <ion-icon name="add-circle"></ion-icon>
      <ion-label>Crear Paquete</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="paquetes">
      <ion-icon name="albums"></ion-icon>
      <ion-label>Paquetes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="usuarios">
      <ion-icon name="people-circle"></ion-icon>
      <ion-label>Usuarios</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="comentarios">
      <ion-icon name="chatbox"></ion-icon>
      <ion-label>Comentarios</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="estadisticas">
      <ion-icon name="bar-chart"></ion-icon>
      <ion-label>Estadísticas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil">
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
